<div class="logo">
    <img src="../../assets/logo/logo.svg" alt="st" class="logo__image">
</div>
<div class="navigation">
    <div class="navigation__box navigation__active">
        <img src="../../assets/nav/home.svg" alt="home" class="navigation__image">
    </div>
    <div class="navigation__box ">
        <img src="../../assets/nav/briefcase.svg" alt="home" class="navigation__image">
    </div>
    <div class="navigation__box ">
        <img src="../../assets/nav/compass.svg" alt="home" class="navigation__image">
    </div>
    <div class="navigation__box ">
        <img src="../../assets/nav/bell.svg" alt="home" class="navigation__image">
    </div>
    <div class="navigation__box ">
        <img src="../../assets/nav/gear.svg" alt="home" class="navigation__image">
    </div>
</div>
<div class="logout">
    <div class="logout__box">
        <img src="../../assets/nav/log-out.svg" alt="home" class="">
    </div>
</div>
