<div class="container">
  <mat-card class="card">
    <img mat-card-image src="assets/card/kh.png" alt="Khartoum">
    
      <mat-card-subtitle>
        <span>Wellington</span>
        <span>Tianjin</span>
      </mat-card-subtitle>
      <mat-card-title>Khartoum</mat-card-title>
   
    
    <mat-card-content>
      <p>
        Aenean lacinia bibendum nulla sed consectetur.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><img src="assets/icon/message-square.svg" alt=""></button>
      <button mat-button><img src="assets/icon/heart.svg" alt=""></button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <img mat-card-image src="assets/card/kh.png" alt="Khartoum">
   
      <mat-card-subtitle>
        <span>Puebla</span>
      </mat-card-subtitle>
      <mat-card-title>Bengaluru</mat-card-title>
    
    
    <mat-card-content>
      <p>
        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><img src="assets/icon/message-square.svg" alt=""></button>
      <button mat-button><img src="assets/icon/heart.svg" alt=""></button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card">
    <img mat-card-image src="assets/card/kh.png" alt="Khartoum">
    
      <mat-card-subtitle>
        <span>Salt Lake City</span>
        <span>Seville</span>
      </mat-card-subtitle>
      <mat-card-title>Santa Clara</mat-card-title>
   
    
    <mat-card-content>
      <p>
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><img src="assets/icon/message-square.svg" alt=""></button>
      <button mat-button><img src="assets/icon/heart.svg" alt=""></button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <img mat-card-image src="assets/card/kh.png" alt="Khartoum">
    
      <mat-card-subtitle>
        <span>Sacramento</span>
        <span>Osaka</span>
        <span>Astana</span>
      </mat-card-subtitle>
      <mat-card-title>Portland</mat-card-title>

    
    <mat-card-content>
      <p>
        Tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><img src="assets/icon/message-square.svg" alt=""></button>
      <button mat-button><img src="assets/icon/heart.svg" alt=""></button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card active">
    <img mat-card-image src="assets/card/kh.png" alt="Khartoum">
    
      <mat-card-subtitle>
        <span>Wellington</span>
        <span>Tianjin</span>
      </mat-card-subtitle>
      <mat-card-title>Khartoum</mat-card-title>
  
    
    <mat-card-content>
      <p>
        Aenean lacinia bibendum nulla sed consectetur.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><img src="assets/icon/message-square.svg" alt=""></button>
      <button mat-button><img src="assets/icon/heart.svg" alt=""></button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card">
    <img mat-card-image src="assets/card/kh.png" alt="Khartoum">
    
      <mat-card-subtitle>
        <span>Wellington</span>
        <span>Tianjin</span>
      </mat-card-subtitle>
      <mat-card-title>Khartoum</mat-card-title>
    
    
    <mat-card-content>
      <p>
        Aenean lacinia bibendum nulla sed consectetur.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><img src="assets/icon/message-square.svg" alt=""></button>
      <button mat-button><img src="assets/icon/heart.svg" alt=""></button>
    </mat-card-actions>
  </mat-card>
</div>

