.layout {
    background-color:  #E7EDF6;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    .layout__sidebar {
        background-image: linear-gradient(135deg, #2B2ECF 0%, #652BCF 100%);
        border-radius: 20px;
        width: 100px;
        height: 860px;
        margin: 20px;
    }
    .layout__container {
        width: 1440px;
        height: 860px;
        margin: 20px 0;
    }
}